* {
  box-sizing: border-box;
  font-family: 'ArialMT', Arial, sans-serif;
}

.bold {
  font-family: 'Arial-BoldMT', Arial, sans-serif;
}

.text {
  font-size: 14px;
}

.gray-text {
  color: #858585;
}

@font-face {
  font-family: 'Arial-BoldMT', Arial, sans-serif;
  src: url(assets/fonts/Arial-BoldMT.otf);
}

.navbar {
  height: 93px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}

.navbar__logo {
  margin: 32px 52px 32px 40px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu-item {
  font-family: 'Arial-BoldMT', Arial, sans-serif;
  padding-right: 27px;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  opacity: 0.6;
  cursor: pointer;
  text-decoration: none;
}

.navbar__menu-item_active,
.navbar__menu-item:hover {
  opacity: 1;
}

.footer {
  display: flex;
  height: 61px;
  width: 100%;
  bottom: 0;
  position: fixed;
  background-color: white;
  padding: 22px 40px;
}

.content {
  margin: 29px 39px 90px 39px;
  display: flex;
  flex-direction: column;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard__row {
  display: flex;
  white-space: nowrap;
}

.dashboard__row:not(:last-child) {
  margin-bottom: 24px;
}

.dashboard__col:not(:last-child) {
  margin-right: 26px;
}

.dashboard__panel {}

.main-panel {
  height: 331px;
  width: 630px;
  background-image: url("./assets/bg@1x.png");
  padding: 20px 25px;
}

.main-panel__title {
  font-family: 'Arial-BoldMT', Arial, sans-serif;
  font-size: 27px;
  color: #333333;
}

.main-panel__status {
  font-size: 14px;
  color: #333333;
  margin-top: 6px;
  margin-bottom: 25px;
}

.dashboard__header {
  font-family: 'Arial-BoldMT', Arial, sans-serif;
  margin-bottom: 20px;
  font-size: 18px;
  color: #333333;
  line-height: 20px;
}

.fav-scenarios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.devices__header {
  display: flex;
}

.devices__header>* {
  margin-left: 10px;
  margin: auto 0 auto 10px;
}

.devices__group-button {
  font-family: Arial-BoldMT;
  font-size: 13px;
  color: #000000;
  text-align: left;
  background: #F7F7F7;
  border-radius: 20px;
  padding: 8px 15px;
  height: 30px;
  cursor: pointer;
}

.devices__group-button:hover {
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

.devices__group-button_active {
  background: #FFD93E;
}

.panel {
  width: 200px;
  min-height: 100px;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 14.1px 15px;
  white-space: normal;
  margin: 15px;
  cursor: pointer;
}

.panel:hover {
  background-color: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

.panel__title {
  font-family: 'Arial-BoldMT', Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  margin-top: 15px;
}

.panel__info {
  font-size: 12px;
  color: #858585;
  letter-spacing: 0;
  text-align: left;
  margin-top: 4.5px;
}

.footer * {
  font-size: 12px;
  color: #858585;
  letter-spacing: 0.01px;
  text-align: left;
  text-decoration: none;
  margin-left: 20px;
}

.devices__list {
  display: flex;
  flex-wrap: nowrap;
}

.panel__icon {
  width: 24px;
  height: 24px;
}

.main-panel__temperature-icon {
  width: 26px;
  height: 26px;
}

.icon-sun {
  background-image: url(assets/icon_sun.svg);
}

.icon-sun2 {
  background-image: url(assets/icon_sun_2.svg);
}

.icon-clock {
  background-image: url(assets/icon_scheduled.svg);
}

.icon-temperature {
  background-image: url(assets/icon_temperature.svg);
}

.icon-temperature2 {
  background-image: url(assets/icon_temperature_2.svg);
}

.icon-cloudy {
  background-image: url(assets/cloud-drizzle.png);
}